@charset "utf-8";

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

@import url('styles/main.css');

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* MAIN STRUCTURE */

body {
  background: #2c3338;
  color: #606468;
  font: 87.5% / 1.5em "Open Sans", Arial, sans-serif;
  margin: 0;
}

a {
  color: #606468;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: #eee;
  }
}

/* BEGINNING LOGIN FORM */

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
  &.title {
    font-size: 30px;
  }
  &.about {
    font-size: 15px;
  }
}

.clearfix {
  *zoom: 1;
  &:before {
    display: table;
    content: "";
  }
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}

/* RESPONSIVE */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

body {
  margin: 0;
}

.columnsContainer {
  position: relative;
  margin: 8px;
}

.rightColumn {
  padding: 5px;
}

.leftColumn {
  padding: 5px;
  margin-bottom: 8px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 760px) {
  .leftColumn {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
  }
  .rightColumn {
    margin-left: 300px;
  }
}

/* MAP BOX */

#mapcanvas {
  width: 99%;
  height: 540px;
}

/* SEARCH */

#search input {
  float: left;
  &[type="search"], &[type="submit"] {
    border-radius: 3px;
    font-size: 12px;
  }
  &[type="search"] {
    background-color: #3b4148;
    color: #606468;
    min-width: 240px;
    padding: 6px 5px;
  }
  &[type="submit"] {
    background: #ea4c88;
    color: #eee;
    font-weight: bold;
    margin-left: 7px;
    padding: 6px 10px;
    &:hover {
      background: #d44179;
    }
  }
  &[type="search"] {
    &::-webkit-input-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
      color: #42454e;
    }
  }
}

/* MESSAGING */

#imessage input {
  float: left;
  &[type="imessage"], &[type="submit"] {
    border-radius: 3px;
    font-size: 12px;
  }
  &[type="imessage"] {
    background-color: #3b4148;
    color: #606468;
    width: 290px;
    height: 150px;
    padding: 6px 5px;
  }
  &[type="submit"] {
    background: #ea4c88;
    color: #eee;
    font-weight: bold;
    padding: 6px 10px;
    min-width: 289px;
    margin-top: 5px;
    &:hover {
      background: #d44179;
    }
  }
}

#imessage2 form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ea4c88;
  color: #eee;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 280px;
}

#imessage input[type="imessage"] {
  &::-webkit-input-placeholder, &:-moz-placeholder {
    color: #42454e;
  }
}

#imessag input[type="imessage"]:-ms-input-placeholder {
  color: #42454e;
}

/* SLIDE DOWN INFORMATION */

#flip {
  padding: 5px;
  text-align: center;
  background-color: #2c3338;
  border: solid thin #c3c3c3;
  &:hover {
    color: #fff;
    cursor: hand;
  }
}

#panel {
  display: none;
  padding: 20px;
  text-align: justify;
  background-color: #2c3338;
  color: #fff;
}